.questionContainer {
    justify-content: space-around;
    align-items: flex-start;
    flex: 2;
}
.optionsContainer {
    flex-direction: row;
    justify-content: space-around;
}
.option {
    margin-right: 4px;
}

.marginTop {
    margin-top: 16px;
}